Options -Indexes

RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<FilesMatch "^(README\.md|.*\.sql|.*\.example\.php|\.DS_Store)$">
  Require all denied
</FilesMatch>

